.checkoutContainer {
	display: flex;
	gap: 2em;
	margin-bottom: 2em;

	aside {
		flex: 0 0 max(400px);
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		transition: 0.3s;

		button {
			cursor: pointer;
		}
	}

	article {
		flex: 1;
		display: flex;
		flex-direction: column;
		color: inherit;
		font-family: inherit;
		max-width: 100%;

		button {
			cursor: pointer;
		}
	}
}
