.paper {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 2em auto;
    align-items: center;
    background-color: #fff;

    h2 {
        font-weight: 800;
        margin-bottom: 0.5em;
    }

    p {
        font-size: 0.8em;
        font-weight: 400;
        line-height: 1.25em;
        margin-bottom: 1em;
    }

    .facebook {
        display: flex;
        align-items: center;
        margin: 2em 0em;
        padding: 0.625em 10em;
        font-size: 1em;
        background-color: #0080ff;
        color: #fff;
        border: none;
        border-radius: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .or {
        font-size: 1.1em;
        text-transform: uppercase;
        font-weight: 500;
    }
    button {
        margin-top: 1em;
        padding: 0.625em 1.25em;
        font-size: 1em;
        background-color: #ff983e;
        color: #fff;
        border: none;
        border-radius: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .buttonModal {
        font-weight: 600;
        line-height: 1.25em;
        margin: 0 0.2em;
        text-decoration: underline;
        cursor: pointer;
        transition: color 0.3s ease;
        &:hover {
            color: #ff6600;
        }
    }

    button:hover {
        background-color: #2d4373;
    }

    button svg {
        margin-right: 3em;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .field {
        margin-bottom: 0.5em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .field label {
        font-size: 0.875em;
        margin-bottom: 0.25em;
        color: black;
        transition: color 0.3s ease;
        align-self: flex-start;
        text-align: left;
    }

    .field input {
        padding: 0.625em 10em;
        border: 1px solid #ccc;
        border-radius: 0.3125em;
        font-size: 1em;
        width: 100%;
    }

    .field input {
        padding: 0.625em 10em;
        border: 1px solid #ccc;
        border-radius: 0.3125em;
        font-size: 1em;
        align-self: flex-start;
        text-align: left;
    }

    .field input[type='checkbox'] {
        width: auto;
        align-self: flex-start;
        text-align: left;
    }

    .checkboxContainer {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        margin-top: 2em;
    }

    .checkboxContainer label {
        font-size: 0.75em;
        color: black;
        transition: color 0.3s ease;
        align-self: flex-start;
        text-align: left;
    }

    .checkboxContainer input {
        margin-right: 0.3125em;
        align-self: flex-start;
        text-align: left;
    }

    .error {
        font-size: 0.8em;
        margin-bottom: 0.25em;
        width: 100%;
        color: rgb(255, 0, 0);
        transition: color 0.3s ease;
        align-self: flex-start;
        text-align: left;
    }
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 0.3125em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 640px) {
    .modalContent {
        width: 600px;
    }
}
