.imageViewer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 20px;

    .imageViewerContainerWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;

        .imageViewerItem {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;
            margin-bottom: 10px;

            .aspectRatio {
                width: 100%;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
        }
    }

    .imageViewerPagination {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-top: 10px;

        .imageViewerPaginationItem {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            margin-right: 10px;

            &.active {
                background-color: #6f42c1;
            }

            .aspectRatio {
                width: 100%;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
        }
    }
}


