$content-box: #fff;
$footer: #222;
$footer-font: #fff;

$purple: #aa49e7;
$orange: #e4ac73;
$light-gray: #f9f9f9;
$black: #000000;
$blue: #228be6;
$p-color: #1d3557ff;

$border: #ccdde2ff;
// 				text: {
// 					primary: '#071108', // Primary text color
// 					secondary: '#bfb1c1', // Secondary text color
// 					disabled: '#5c5959', // Disabled text color
// 				},
// #6f42c1
//'#9b6ee5
//'#4b2990'
// #d32f2f
// #0288d1
// #2e7d32
// #333
// #dc602e
// #e4ac73
// #fab005
// #ffc107
// #ccdde2ff
// #1d3557ff
// #44464c
// #4aa8f2
// #5c5959
// divider: '#071108'
// #228be6, #6028c8, #071108, #bfb1c1, #faf3dd '#fff''#f4f6f8',

//'#228be6''#176ab3' '#ffffff' '#6f42c1' '#4b2990''#5c5959'

// 				primary: {
// 					main: '#228be6', // Primary color
// 					light: '#4aa8f2', // Light variant for primary
// 					contrastText: '#ffffff', // Contrast text for primary
// 				},
// 				secondary: {
// 					main: '#6f42c1',
// 					light: '#9b6ee5',
// 					dark: '#4b2990',
// 					contrastText: '#fff',
// 				},
// 				text: {
// 					primary: '#071108', // Primary text color
// 					secondary: '#bfb1c1', // Secondary text color
// 					disabled: '#5c5959', // Disabled text color
// 				},
// 				background: {
// 					default: '#fff', // Slightly off-white background for better readability
// 					paper: '#f4f6f8',
// 				},
// 				error: {
// 					main: '#d32f2f', // Error color
// 				},
// 				warning: {
// 					main: '#ed6c02', // Warning color
// 				},
// 				info: {
// 					main: '#0288d1', // Info color
// 				},
// 				success: {
// 					main: '#2e7d32', // Success color
// 				},
// 				divider: '#bfb1c1', // Divider color for UI elements
// 		  }