$content-box: #fff;
$footer: #222;
$footer-font: #fff;

$purple: #aa49e7;
$orange: #e4ac73;
$light-gray: #f9f9f9;
$black: #000000;
$blue: #228be6;
$p-color: #1d3557ff;

$border: #ccdde2ff;

//'#4b2990' //'#9b6ee5 // #6f42c1

// #44464c // #4aa8f2  // #1d3557ff// #ccdde2ff // #ffc107 // #fab005 // #e4ac73

// #dc602e // #333 // #2e7d32 // #0288d1 // #d32f2f

// #228be6, #6028c8, #071108, #bfb1c1, #faf3dd '#fff''#f4f6f8',

//'#228be6''#176ab3' '#ffffff''#5c5959'




