$content-box: #fff;
$footer: #222;
$footer-font: #fff;

$purple: #aa49e7;
$orange: #e4ac73;
$gray: #f9f9f9;
$black: #000000;
$blue: #228be6;
$p-color: #1d3557ff;

// #6f42c1
// #6028c8
// #a60067
// #333
// #dc602e
// #e4ac73
// #fab005
// #ccdde2ff
// #1d3557ff
// #44464c
// #41a6d1
// #5c5959

// #228be6, #6028c8, #071108, #bfb1c1, #faf3dd