.container {
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
    // gap: 2em;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;

    h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
}

.description {
    font-size: 1rem;
    margin-bottom: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    
}


.buttonsContainer {
    display: flex;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.button {
    margin-top: 2px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #6f42c1;
    color: white;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken(#6f42c1, 10%);
    }
}

.image {
    width: auto;
    height: 600px;
    border-radius: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.02);
    }
}

.nextArrow,
.prevArrow {
    position: absolute;
    bottom: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: rgba(226, 226, 226, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.prevArrow {
    left: -20%;
    top: 50%;
    border-radius: 30% 0 0 30%;
}

.nextArrow {
    right: -20%;
    top: 50%;

    border-radius: 0 30% 30% 0;
}

.nextArrow:after {
    content: '';
    width: 20px;
    height: 20px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
}

.prevArrow:after {
    content: '';
    width: 20px;
    height: 20px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(-45deg);
}

.prevArrow:hover,
.nextArrow:hover {
    background-color: #e2e2e2;
}
