@use '../../styles/base/colors' as *;

.counterContainer {
	input {
		text-align: center;
		padding: 6px;
		color: $purple;
		font-size: 1.2em;
		font-weight: bold;
		width: 60px;
		background-color: transparent;
		transition: background-color 0.3s ease;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&::-webkit-increment,
		&::-webkit-decrement {
			-webkit-appearance: none;
			background-color: transparent;
			cursor: pointer;
		}

		&::-webkit-increment {
			margin-top: 5px;
		}

		&::-webkit-decrement {
			margin-bottom: 5px;
		}
	}
}
