.dashboardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;

    aside {
        flex: 0 0 max(200px);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: 0.3s;
        height: auto;
    }

    section {
        flex: 1 1 0;
    }
}

// .container {
//     display: flex;
//     flex-wrap: nowrap;
//     align-items: center;
//     max-width: 1140px;
//     margin: 2em auto;

//     & > * {
//         width: 100%;
//     }
// }

// .dashboard {
//     display: flex;
//     flex-wrap: nowrap;
//     align-items: center;
//     gap: 2em;

//     & > * {
//         width: 100%;
//     }
// }
