

.carousel {
    padding-left: 10px;
    padding-right: 10px;
    background: linear-gradient(to right, #6f42c1, #121212);
}

section:first-child .SingleCarousel {
    padding-left: 10px;
    padding-right: 10px;
}

section:nth-child(2) {
    border: 1px solid #cccccc;
    padding-top: 8px;
    padding-bottom: 8px;
}

section:nth-child(2) h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 6px;
}

.contentWrapper {
    border: 1px solid #cccccc;
}