$purple: #aa49e7;
$orange: #e4ac73;
$gray: #f9f9f9;
$black: #000000;

.detailsWrapper {
    display: flex;
    flex-direction: column;
    color: inherit;
    margin: 0 auto;
    font-family: inherit;
    max-width: 100%;

    @media (min-width: 600px) {
        flex-direction: row;
        max-width: 1200px;
    }

    @media (min-width: 1024px) {
        flex-direction: row;
        max-width: 1194px;
    }

    .imageGallery {
        width: 100%;

        @media (min-width: 600px) {
            width: 50%;
        }

        @media (min-width: 1024px) {
            width: 40%;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
            cursor: pointer;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .dropdownSection {
        text-align: left;
        width: 60%;
        display: flex;
        flex-direction: column;

        @media (min-width: 600px) {
            width: 50%;
        }

        @media (min-width: 1024px) {
            width: 100%;
        }

        .detailsContainer {
            margin-bottom: 30px;
            .titleSection {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 20px;
            }

            h1 {
                font-size: 1.5em;
                margin: 10px 0;
            }

            h2 {
                font-size: 1.2em;
                margin: 10px 0;
            }

            .availability {
                font-size: 1em;
                color: green;
                margin-bottom: 10px;
            }

            .priceSection {
                margin-bottom: 20px;

                .price {
                    font-size: 1.5em;
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                .deliveryPrice {
                    font-size: 1em;
                    color: $gray;
                }
            }

            .actions {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 20px;
            }

            .actions button:not(.cartContainer) {
                border: none;
                font-size: 1em;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                }
            }

            .actions .wishlistButton {
                background-color: $gray;

                &:hover {
                    background-color: darken($purple, 10%);
                }
            }

            .actions .cartButton {
                &:nth-child(1) {
                    background-color: $orange;
                }
                &:hover {
                    background-color: darken($orange, 10%);
                }
            }

            .cartContainer {
                display: flex;
                align-items: center;
                gap: 10px;

                .cartButton {
                    border: none;
                    font-size: 1em;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: darken($orange, 10%);
                    }
                }

                .cartText {
                    font-size: 1em;
                    margin-right: 10px;
                }

                .cartInput {
                    width: 60px;
                    text-align: center;
                    padding: 5px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-color: transparent;
                    font-size: 1.2em;
                    font-weight: bold;
                    text-align: center;
                    cursor: pointer;

                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &::-webkit-increment,
                    &::-webkit-decrement {
                        -webkit-appearance: none;
                        background-color: transparent;
                        cursor: pointer;
                    }

                    &::-webkit-increment {
                        margin-top: 5px;
                    }

                    &::-webkit-decrement {
                        margin-bottom: 5px;
                    }
                }
            }
        }

        .dropdownContainer {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .dropdown {
                cursor: pointer;
                margin-bottom: 20px;
                .metaData {
                    text-align: left;
                    display: flex;
                    font-size: 0.8em;

                    .col {
                        flex: 0 0 auto;
                        width: 50%;
                    }

                    p,
                    div {
                        margin: 5px 0;
                        color: $black;
                    }
                }

                h3 {
                    font-size: 1.2em;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                p,
                div {
                    font-size: 1em;
                    margin-top: 10px;
                    color: $black;
                }
            }
        }
    }
}
