.container {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	overflow: hidden;

	&:hover {
		.bookImageContainer {
			.buttonContainer {
				display: flex;
				transition: all 0.8s ease; /* Add animation for smooth transition */
				opacity: 1;
				transform: translateX(0);
			}
		}
	}

	.bookImageContainer {
		// position: relative;
		flex: 1 1 max(200px);
		// width: 100%;
		overflow: hidden;

		img {
			width: auto;
			height: 100%;
			padding: 0em 0.5em;
			transition: 0.3s;
			object-fit: cover;
			display: block;
			margin: 0 auto;
			cursor: pointer;
		}

		.buttonContainer {
			position: absolute;
			top: 30%;
			right: 2%;
			z-index: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 0.5em;
			font-size: medium;
			width: fit-content;
			opacity: 0;
			transform: translateX(200px);
			transition: all 3s ease; /* Add animation for smooth transition */
		}

		button {
			display: inline-flex;
			align-items: center;
			padding: 0.5em;
			border-radius: 100%;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
				0 4px 16px rgba(0, 0, 0, 0.2);
			background-color: #fff;
			cursor: pointer;

			&:hover {
				background-color: #ffc107;
			}
			svg {
				height: 1em;
				width: auto;
				margin: 0 auto;
			}
		}
	}

	.bookInfo {
		margin-top: 0.5em;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

		h6 {
			margin: 0;
			font-size: small;
			text-align: center;
			font-weight: 800;
			height: 2.5em;
			overflow: hidden;
			cursor: pointer;
		}

		p {
			margin: 0;
			font-size: small;
		}

		p:last-of-type {
			font-weight: 700;
		}
	}
}

@media (min-width: 600px) {
	.container {
		width: max(240px); /* Set width for medium screens */
	}
}

@media (min-width: 768px) {
	.container {
		width: max(200px); /* Set width for large screens */
	}
}

@media (min-width: 992px) {
	.container {
		width: max(200px); /* Set width for extra large screens */
	}
}

@media (min-width: 1200px) {
	.container {
		width: max(170px); /* Set width for extra extra large screens */
	}
}
