.dashboardContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 2em;

	aside {
		flex: 0 0 max(200px);
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		transition: 0.3s;
		height: auto;
	}

	section {
		flex: 1 1 0;
        margin-top: 1em;
	}
}
